body {
    background-color: #F5F5F5;
}

.header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    font-size: 22px;
    font-weight: bold;
    height: 45px;
    width: 100vw;
    background-color: #F5F5F5;
    justify-content: space-between;
    align-items: center;
    z-index: 1100;
    padding: 0 15px;
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out;
}

#version-text {
    font-size: 16px;
}

.current-mode-text {
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border-radius: 8px;
    padding: 5px 10px;
    transition: background-color 0.2s ease;
    text-decoration: none;
    display: inline-block;
    cursor: none;
}

.action-button {
    position: fixed;
    bottom: 25px;
    right: 25px;
    background-color: #007bff;
    border: none;
    border-radius: 15px;
    color: white;
    font-size: 22px;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
    z-index: 1200;
    transition: background-color 0.2s ease, transform 0.2s ease-in-out;
}

.action-button i {
    margin: 0;
}

.content {
    margin-top: 25px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.box {
    width: 85vw;
    max-width: 800px;
    background-color: #fff;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.box h2 {
    margin-top: 5px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

#status-text {
    font-size: 14px;
}

.category-container {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}

.category-container input {
    border-radius: 8px;
    border: 1px solid #ccc;
    flex: 1;
    padding: 8px;
}

.category-container button {
    border-radius: 8px;
    padding: 2px 10px;
    font-size: 25px;
    font-weight: bold;
    background-color: #007bff;
    border: none;
    color: #fff;
    transition: background-color 0.2s ease;
}

button.delete-btn {
    padding: 5px 8px;
    background-color: #FF4D4D;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    margin-left: 7px;
    transition: background-color 0.2s ease;
}

.current-mode-text:active,
.action-button:active,
.category-container button:active {
    background-color: #003d80;
}

button.delete-btn:active {
    background-color: #7D1717;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 3px;
    border-bottom: 1px solid #ccc;
}

li span {
    font-size: 14px;
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: break-word;
    max-width: 100%;
}

li:last-child {
    border-bottom: none;
}

.box {
    position: relative;
    background-color: #fff;
    border: 1px solid #E0E0E0;
    border-radius: 15px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.help-btn {
    background-color: #fff;
    color: black;
    border: none;
    width: 30px;
    height: 30px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;
}

#mode-menu .overlay-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1px;
}

#mode-menu form {
    display: flex;
    flex-direction: column;
}

label input[type="radio"] {
    margin-right: 15px;
    transform: scale(1.3);
}

.learn-more {
    color: inherit;
    text-decoration: none;
}

#reset-mode {
    color: #3B3B3B;
    border: none;
    background: none;
    font-size: 16px;
}

label {
    display: inline-flex;
    align-items: center;
}

.reference-reset {
    color: #3B3B3B;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
    z-index: 1300;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
}

.overlay-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    width: 75vw;
    max-height: 90vh;
    overflow-y: auto;
    position: relative;
    overflow-wrap: anywhere;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 20px;
    color: #ccc;
}

.prompt {
    position: fixed;
    bottom: 0;
    left: 10px;
    background-color: #4CAF50;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 15px;
    padding: 5px 15px;
    z-index: 1000;
    transform: translateY(100%);
    transition: transform 0.5s ease, background-color 0.2s ease;
    white-space: nowrap;
    z-index: 1300;
}

.prompt.pointer:active {
    background-color: #27822B;
}

.prompt.visible {
    animation: YbounceIn 0.4s forwards;
}

.prompt.hidden {
    animation: YbounceOut 0.4s forwards;
}

.prompt.error {
    background-color: #f44336;
}

@keyframes YbounceIn {
    0% {
        transform: translateY(100%);
    }

    50% {
        transform: translateY(-80%);
    }

    100% {
        transform: translateY(-60%);
    }
}

@keyframes YbounceOut {
    0% {
        transform: translateY(-60%);
    }

    50% {
        transform: translateY(-80%);
    }

    100% {
        transform: translateY(100%);
    }
}

.footer {
    padding: 20px;
    position: relative;
    color: #6E6E6E;
    text-align: center;
}

.footer>div {
    margin-bottom: 10px;
    display: block;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212;
        color: #eee;
    }

    .header {
        background-color: #121212;
    }

    li {
        border-bottom: 1px solid #6E6E6E;
    }

    .overlay-content,
    .help-btn {
        background-color: #343434;
        color: #eee
    }

    .box {
        background-color: #343434;
        border: none;
    }

    #reset-mode,
    .reference-reset {
        color: #C2C2C2;
    }

    .category-container input {
        color: #eee;
        background-color: #232323;
        border: 1px solid #6E6E6E;
    }
}