body {
    background-color: #F5F5F5;
    padding-top: var(--window-inset-top);
    padding-bottom: var(--window-inset-bottom);
    transition: padding-bottom 0.2s ease;
}

body.input-focused {
    padding-bottom: 50vh;
}

.cover {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    z-index: 2000;
}

.header-block {
    background-color: #F5F5F5;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1100;
    transition: transform 0.5s cubic-bezier(0.22, 1, 0.36, 1);
    height: var(--window-inset-top);
}

.header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    font-size: 22px;
    font-weight: bold;
    height: 45px;
    width: 100vw;
    background-color: #F5F5F5;
    justify-content: space-between;
    align-items: center;
    z-index: 1100;
    padding: 0 15px;
    box-sizing: border-box;
    transition: transform 0.5s cubic-bezier(0.22, 1, 0.36, 1);
    user-select: none;
}

#version-text {
    font-size: 16px;
}

#mode-btn {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 8px;
    padding: 5px 10px;
    text-decoration: none;
    display: inline-block;
    cursor: none;
    position: relative;
    overflow: hidden;
    user-select: none;
}

#mode-text {
    padding-left: 5px;
}

.action-button {
    position: fixed;
    bottom: 25px;
    right: 25px;
    background-color: #007bff;
    border: none;
    border-radius: 15px;
    color: white;
    font-size: 22px;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
    z-index: 1200;
    overflow: hidden;
    transition: transform 0.5s cubic-bezier(0.22, 1, 0.36, 1);
}

.action-button i {
    margin: 0;
}

.content {
    margin-top: 40px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.box {
    position: relative;
    width: 85vw;
    max-width: 800px;
    background-color: #fff;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    overflow: hidden;
}

h2{
    user-select: none;
}

.box h2 {
    margin-top: 5px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

#status-text {
    font-size: 14px;
}

.control-panel {
    border-radius: 10px;
    overflow: hidden;
}

.toggle-list {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 8px 10px;
    white-space: nowrap;
    text-align: left;
    border-bottom: 1px solid #ccc;
    position: relative;
    overflow: hidden;
}

.toggle-list:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

#action-redirect-container {
    display: none;
}

.toggle-text {
    font-size: 16px;
    font-weight: bold;
    padding-left: 10px;
    white-space: wrap;
    max-width: calc(100% - 76px);
    user-select: none;
}

.control-icon {
    fill: #000000;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    margin-left: auto;
    width: 40px;
    height: 25px;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 19px;
    width: 19px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
}

input:checked+.slider {
    background-color: #007bff;
}

input:focus+.slider {
    box-shadow: 0 0 1px #007bff;
}

input:checked+.slider:before {
    transform: translateX(15px);
}

.slider.round {
    border-radius: 25px;
}

.slider.round:before {
    border-radius: 50%;
}

.category-container {
    display: flex;
    position: relative;
    width: 100%;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}

.input-box-wrapper {
    display: relative;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    width: calc(100% - 35px);
    height: 35px;
    padding-left: 10px;
    position: relative;
    overflow: hidden;
}

.input-box {
    left: 0;
    top: 0;
    position: absolute;
    outline-color: #007bff;
    border: none;
    width: 100%;
    height: 100%;
    padding-left: 10px;
    background-color: transparent;
    border-radius: 7px;
    box-sizing: border-box;
}

.add-btn {
    display: flex;
    border-radius: 8px;
    height: 35px;
    width: 35px;
    font-size: 25px;
    font-weight: bold;
    background-color: #007bff;
    border: none;
    color: #fff;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

button.delete-btn {
    height: 30px;
    width: 30px;
    background-color: #FF4D4D;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    margin-left: 7px;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.box ul,
.overlay-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.box li,
.overlay-content li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 3px;
    border-bottom: 1px solid #ccc;
}

.box li span,
.overlay-content li span {
    font-size: 14px;
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: break-word;
    max-width: calc(100% - 40px);
}

.box li:last-child,
.overlay-content li:last-child {
    border-bottom: none;
}

.help-btn {
    background-color: #fff;
    color: black;
    border: none;
    width: 30px;
    height: 30px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;
}

#mode-menu .overlay-content {
    display: flex;
    width: fit-content;
    max-width: 90vw;
    flex-direction: column;
    align-items: flex-start;
}

#mode-options {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.custom-radio {
    display: flex;
    align-items: center;
    padding: 10px 0;
    padding-right: 50px;
}

.custom-radio input[type="radio"] {
    display: none;
}

.radio-circle {
    width: 20px;
    height: 20px;
    border: 2px solid #9e9e9e;
    border-radius: 50%;
    position: relative;
    transition: border-color 0.3s, background-color 0.3s;
}

.radio-circle::after {
    content: '';
    width: 10px;
    height: 10px;
    background-color: #007bff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.3s ease;
}

.radio-label {
    padding-left: 15px;
    display: inline-block;
    line-height: 1;
}

.radio-label small {
    color: #757575;
}

.custom-radio:hover .radio-circle {
    border-color: #007bff;
}

.custom-radio input[type="radio"]:checked + .radio-circle {
    border-color: #007bff;
    background-color: #fff;
}

.custom-radio input[type="radio"]:checked + .radio-circle::after {
    transform: translate(-50%, -50%) scale(1.5);
}

#learn-btn {
    color: inherit;
    background-color: #fff;
    cursor: none;
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 50px 50px;
    position: relative;
    overflow: hidden;
    user-select: none;
}

.docs-btn,
#reset-mode {
    color: #3B3B3B;
    background-color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 50px 50px;
    font-size: 16px;
    position: relative;
    overflow: hidden;
    user-select: none;
}

#source-btn {
    color: #333;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #9e9e9e;
}

.reference-reset {
    color: #3B3B3B;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}

.docs,
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
    z-index: 1300;
}

.docs.active,
.overlay.active {
    opacity: 1;
    visibility: visible;
}

.overlay-content {
    background: white;
    padding: 20px;
    padding-top: 40px;
    border-radius: 15px;
    max-width: 600px;
    width: 75vw;
    max-height: 90vh;
    overflow-y: auto;
    position: relative;
    overflow-wrap: anywhere;
}

.overlay-content h2 {
    margin-top: 0;
}

.docs-content {
    background: white;
    padding-top: 40px;
    padding-bottom: 20px;
    border-radius: 15px;
    width: 95vw;
    max-width: 850px;
    position: relative;
    overflow: hidden;
}

.documents {
    color: #333;
    padding: 0 25px;
    max-height: calc(80vh - 40px);
    overflow-y: auto;
    user-select: none;
    white-space: normal;
    overflow-wrap: break-word;
}

.credit-marked {
    text-align: center;
    font-size: 14px;
    padding-top: 15px;
    width: 100%;
    color: #ccc;
}

#language-help .overlay-content {
    display: flex;
    padding: 15px 35px;
    width: auto;
    max-width: auto;
    flex-direction: column;
    align-items: center;
}

#language-help h2 {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
}

.language-option {
    display: block;
    font-size: 18px;
    padding: 8px 10px;
    background-color: #fff;
    border: none;
    width: 100%;
    position: relative;
    overflow: hidden;
    user-select: none;
}

.language-option::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 10px;
    width: calc(100% - 20px);
    height: 1px;
    background-color: #ccc;
}

.language-option:last-child::after {
    content: none;
}

#translate-btn {
    gap: 0;
    margin-top: 20px;
}

.language-improve {
    margin: 0;
    background-color: #fff;
    font-size: 14px;
    text-align: center;
    color: #3B3B3B;
    position: relative;
    overflow: hidden;
    user-select: none;
}

.close-docs-btn,
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 20px;
    color: #ccc;
}

.prompt {
    position: fixed;
    bottom: 0;
    left: 10px;
    background-color: #4CAF50;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 15px;
    padding: 5px 10px;
    z-index: 2000;
    width: auto;
    max-width: calc(100% - 40px);
    transform: translateY(100%);
    transition: transform 0.4s cubic-bezier(0.22, 1, 0.36, 1);
    overflow: hidden;
    user-select: none;
    
}

.prompt.error {
    background-color: #f44336;
}

.footer {
    font-size: 16px;
    padding: 25px;
    position: relative;
    color: #6E6E6E;
    text-align: center;
    user-select: none;
}

.ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    opacity: 1;
    animation: ripple-animation ease-out forwards;
    pointer-events: none;
    background: rgba(0, 0, 0, 0.2);
}

.ripple.end {
    opacity: 0;
}

@keyframes ripple-animation {
    to {
        transform: scale(3);
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212;
        color: #eee;
    }

    .documents {
        color: #fff;
    }

    .cover {
        background-color: #000;
    }
    
    .header-block,
    .header {
        background-color: #121212;
    }

    .language-option::after {
        background-color: #6E6E6E;
    }

    .toggle-list,
    .box li,
    .overlay-content li {
        border-bottom: 1px solid #6E6E6E;
    }

    #source-btn,
    .language-option,
    .toggle-list,
    .overlay-content,
    .docs-content,
    .help-btn {
        background-color: #343434;
        color: #eee
    }

    .box {
        background-color: #343434;
    }

    .docs-btn,
    .language-improve,
    #learn-btn,
    #reset-mode,
    .radio-label small,
    .reference-reset {
        background-color: #343434;
        color: #C2C2C2;
    }

    .custom-radio input[type="radio"]:checked + .radio-circle {
        background-color: #343434;
    }

    .input-box-wrapper {
        color: #eee;
        background-color: #232323;
        border: 1px solid #6E6E6E;
    }

    .input-box {
        color: #eee;
        background-color: #232323;
    }

    .slider {
        background-color: #6E6E6E;
    }
    
    .control-icon {
        fill: #FFFFFF;
    }
}